
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// select2
@import url("~select2/dist/css/select2.css");

.form-search {
    margin-bottom: 15px;
}

.collapsing {
    opacity: 0.02;
}
.collapse-inline.collapse.in {
    display: inline;
}
.transition-opacity {
    transition-timing-function: ease;
    transition-property: opacity;
    transition-duration: 0.6s;
}
